@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  position: relative;
  
}

header {
  background-color: #343a40;
  padding: 50px 200px;
  text-align: center;
}

header h1 a {
  display: inline;
  margin: 0;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  display: flex; /* フレックスボックスで整列 */
  justify-content: center; 
  align-items: center;
  text-align: center;
}

nav ul li {
  margin-left: 15px; /* 要素間にスペースを設定 */
  position: relative; /* 要素内のクリック可能エリアを調整 */
  }
.logout-button {
  position: absolute; /* ヘッダー内の絶対配置 */
  top: 10px; /* ヘッダー上からの距離 */
  right: 20px; /* ヘッダー右からの距離 */
}


nav ul li a {
    color: #343a40; /* リンクの文字色 */
    text-decoration: none; /* 下線を除去 */
    display: block; /* ブロック要素に変更して範囲を広げる */
    width: 100%; /* 親の幅に合わせる */
    height: 100%; /* 親の高さに合わせる */
    box-sizing: border-box; /* ボックスサイズの計算を調整 */
}

main {
  padding: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f8ff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

li:hover {
    background-color: #e0f7fa;
    transform: translateY(-2px);
}